.introduce{
    width: 920px;
}
.masters{
    border-bottom: 1px dashed #666;
    padding-bottom: 20px;
}
.master_img{
    border-radius: 10px;
    overflow: hidden;  
}
.master_img img{
    transition: all .5s ease-in;
}
.master_img:hover img{
    transform: scale(1.1)
}
.master_txt{
    width: 400px;
}
.cats ul{
    width: 1000px;
}
.cats li{
    width: 460px;
    float: left;
    margin-bottom: 15px;
}
.cat_txt{
    width: 242px;    
    padding-top: 5px;
}
.cat_img{
    border-radius: 10px;
    overflow: hidden;  
}
.cat_img img{
    transition: all .5s ease-in;
}
.cat_img:hover img{
    transform: scale(1.1)
}
.gray_img{
    -webkit-filter: grayscale(100%); 
    -moz-filter: grayscale(100%); 
    -ms-filter: grayscale(100%); 
    -o-filter: grayscale(100%); 
    filter: grayscale(100%); 
    filter: gray; 
}