body{
    background: url('../img/wallpaper.png') repeat-y 0 0;
}
.swiper-container {
    width: 800px;
    height: 350px;
}  
.swiper-slide{
    width: 800px;
    height: 350px;
}
.swiper-slide img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}