<div class="pl5 introduce">
    <div class="master clear">
        <div class="master_img fl mr10">
            <img src="../../img/inroduce_imgs/chanshiguan.jpg" width="500" height="300">
        </div>   
        <div class="master_txt fl">
            <h3 class="txtC mb15">圈叔&圈嫂</h3>
            <p style="text-indent:2em" class="mb10">
                圈叔（blackeyed77），水友爱称黑圈，户外直播创始人，喵放送发起人，喵放送软硬件工程师，主播训练师。
            </p>
            <p style="text-indent:2em">
                圈嫂（chamiao），水友爱称太太，喵放送发起人，喵放送周边总监，喵放送首席铲屎官。
            </p>
        </div>  
    </div>
</div>