<div class="pl5 introduce">
    <div class="masters clear">
        <div class="master_img fl mr10">
            <img src="../../img/inroduce_imgs/chanshiguan.jpg" width="500" height="300">
        </div>   
        <div class="master_txt fl">
            <h3 class="txtC mb15">圈叔&圈嫂</h3>
            <p style="text-indent:2em" class="mb10">
                圈叔（blackeyed77），水友爱称黑圈，户外直播创始人，喵放送发起人，喵放送软硬件工程师，主播训练师。
            </p>
            <p style="text-indent:2em">
                圈嫂（chamiao），水友爱称太太，喵放送发起人，喵放送周边总监，喵放送首席铲屎官。
            </p>
        </div>  
    </div>
    <h4 style="text-align:center;margin-top:20px;margin-bottom:25px">主播介绍特别感谢--<span style="color:red">优之魅衣</span>--提供资料</h4>
    <div class="cats mt20">
        <ul class="clear">
            <li>
                <div class="clear">
                    <div class="cat_img fl mr10">
                        <img src="../../img/inroduce_imgs/gouding.jpg" width="200" height="150">
                    </div>
                    <div class="cat_txt fl">
                        <h4 class="mb5" style="color:#bc8f4e">布丁</h4>
                        <span>2.5岁，半折耳，花色为黄狸+白，公猫，已绝育，又名狗丁。以智障闻名，擅长舔舔舔，粉丝数量惊人。</span>                        
                    </div>
                </div>               
            </li>
            <li>
                <div class="clear">
                    <div class="cat_img fl mr10">
                        <img src="../../img/inroduce_imgs/houzi.jpg" width="200" height="150">
                    </div>
                    <div class="cat_txt fl">
                        <h4 class="mb5" style="color:#bab6b3">泡芙</h4>
                        <span>2.5岁，波斯、英短和田园猫的混种，花色为淡化蓝狸花（鱼骨纹）+白，母猫，已绝育，又名猴子。曾经的猴日天，拆家姐妹花，喜欢尿沙发，喜欢踩奶，在跟薯条生了一窝小猴子后彻底变傻。</span>     
                    </div>
                </div>               
            </li>
            <li>
                <div class="clear">
                    <div class="cat_img fl mr10">
                        <img src="../../img/inroduce_imgs/paojiao.jpg" width="200" height="150">
                    </div>
                    <div class="cat_txt fl">
                        <h4 class="mb5" style="color:#060201">泡椒</h4>
                        <span>7岁，奶牛猫，母猫，已绝育，又名女王。直播间资历最老的猫，年纪大了不喜欢动，喜欢独处，喜欢太太。</span>     
                    </div>
                </div>               
            </li>
            <li>
                <div class="clear">
                    <div class="cat_img fl mr10">
                        <img src="../../img/inroduce_imgs/miumiu.jpg" width="200" height="150">
                    </div>
                    <div class="cat_txt fl">
                        <h4 class="mb5" style="color:#78430d">缪斯</h4>
                        <span>4岁，玳瑁狸花猫，母猫，已绝育，又名奶妈。缪缪是表弟家的猫，以前当过客串主播，现在常驻。缪缪是只很温柔很安静的猫，有神奇的能力，如果你诚心跟它许愿的话，你的愿望会实现的。</span>     
                    </div>
                </div>               
            </li>
            <li>
                <div class="clear">
                    <div class="cat_img fl mr10">
                        <img src="../../img/inroduce_imgs/aoding.jpg" width="200" height="150">
                    </div>
                    <div class="cat_txt fl">
                        <h4 class="mb5" style="color:#5b4b3e">奥丁</h4>
                        <span>2岁，公猫，已绝育，奥丁也是表弟家的猫，现在常驻。鬼父，基佬。最爱狗丁，喜欢骑小猫，尤其是公的，当过上门女婿。老婆甜甜，孩子7个，两只已上喵星，目前还有五只在丈母娘家拆家，黑圈预定了老二西瓜头和老三。</span>     
                    </div>
                </div>               
            </li>
            <li>
                <div class="clear">
                    <div class="cat_img fl mr10">
                        <img src="../../img/inroduce_imgs/danta.jpg" width="200" height="150">
                    </div>
                    <div class="cat_txt fl">
                        <h4 class="mb5" style="color:#5f3f2a">蛋挞</h4>
                        <span>半岁，橘猫，母猫，未绝育。奥丁曾经的童养媳，橘猫的典范，就是十个橘猫九个胖，剩下一个特别胖点典型代表那种。</span>     
                    </div>
                </div>               
            </li>
            <li>
                <div class="clear">
                    <div class="cat_img fl mr10">
                        <img src="../../img/inroduce_imgs/tangyuan.jpg" width="200" height="150">
                    </div>
                    <div class="cat_txt fl">
                        <h4 class="mb5" style="color:#0c110a">汤圆</h4>
                        <span>半岁，奶牛猫，公猫，未绝育。偷奶小贼、巨婴，曾经偷过奶妈，猴子的奶，奥丁大徒弟。</span>     
                    </div>
                </div>               
            </li>
            <li>
                <div class="clear">
                    <div class="cat_img fl mr10">
                        <img src="../../img/inroduce_imgs/jiuniang.jpg" width="200" height="150">
                    </div>
                    <div class="cat_txt fl">
                        <h4 class="mb5" style="color:#0c110a">酒酿</h4>
                        <span>半岁，奶牛猫，公猫，未绝育。喵放送第一打野，兼职破解投食机等设备。</span>     
                    </div>
                </div>               
            </li>
            <li>
                <div class="clear">
                    <div class="cat_img fl mr10">
                        <img src="../../img/inroduce_imgs/naihuangbaodoushabao.jpg" width="200" height="150">
                    </div>
                    <div class="cat_txt fl">
                        <h4 class="mb5" style="color:#5f3f2a">豆沙包，奶黄包</h4>
                        <span>奶黄包：不到半岁，橘猫，母猫。新救助的小猫。<br/>豆沙包：不到半岁，橘猫，公猫。新救助的小猫。<br/>两只是一窝，分不清谁大谁小。</span>     
                    </div>
                </div>               
            </li>
            <li>
                <div class="clear">
                    <div class="cat_img fl mr10">
                        <img src="../../img/inroduce_imgs/kele.jpg" width="200" height="150">
                    </div>
                    <div class="cat_txt fl">
                        <h4 class="mb5" style="color:#0c110a">可乐</h4>
                        <span>年龄未知，折耳英短蓝猫，公猫，蓝胖子超怂。</span>     
                    </div>
                </div>               
            </li>
            <li>
                <div class="clear">
                    <div class="cat_img fl mr10">
                        <img src="../../img/inroduce_imgs/xiyou.jpg" width="200" height="150">
                    </div>
                    <div class="cat_txt fl">
                        <h4 class="mb5" style="color:#0c110a">西柚</h4>
                        <span>半岁左右，三花泡椒脸，母猫。水友捡到的流浪猫，由于是三花且面部与泡椒极像，故被黑圈领养，现作为女王接班人培养。</span>     
                    </div>
                </div>               
            </li>
            <li>
                <div class="clear">
                    <div class="cat_img fl mr10">
                        <img src="../../img/inroduce_imgs/naicha.jpg" width="200" height="150">
                    </div>
                    <div class="cat_txt fl">
                        <h4 class="mb5" style="color:#5f3f2a">奶茶</h4>
                        <span>不到半岁，三花，母猫。呼噜家老大，呼噜一家唯一一只像呼噜的猫，继承了呼噜的超强战力。</span>     
                    </div>
                </div>               
            </li>
            <li>
                <div class="clear">
                    <div class="cat_img fl mr10">
                        <img src="../../img/inroduce_imgs/kafei.jpg" width="200" height="150">
                    </div>
                    <div class="cat_txt fl">
                        <h4 class="mb5" style="color:#0c110a">咖啡</h4>
                        <span>不到半岁，黑猫白手套，母猫。呼噜家老四。</span>     
                    </div>
                </div>               
            </li>
            <li>
                <div class="clear">
                    <div class="cat_img fl mr10">
                        <img src="../../img/inroduce_imgs/niuyouguo.jpg" width="200" height="150">
                    </div>
                    <div class="cat_txt fl">
                        <h4 class="mb5" style="color:#0c110a">牛油果</h4>
                        <span>不到半岁，黑猫，母猫。呼噜家老五，牛腩的好朋友，非常亲人。</span>     
                    </div>
                </div>               
            </li>
            <li>
                <div class="clear">
                    <div class="cat_img fl mr10">
                        <img src="../../img/inroduce_imgs/xigua.jpg" width="200" height="150">
                    </div>
                    <div class="cat_txt fl">
                        <h4 class="mb5" style="color:#0c110a">西瓜</h4>
                        <span>不到半岁，狸花猫，救助的小猫。</span>     
                    </div>
                </div>               
            </li>
            <li>
                <div class="clear">
                    <div class="cat_img fl mr10">
                        <img src="../../img/inroduce_imgs/sanmingzhi.jpg" width="200" height="150">
                    </div>
                    <div class="cat_txt fl">
                        <h4 class="mb5" style="color:#0c110a">三明治</h4>
                        <span>不到半岁，奶牛猫，又名过儿。救助的小猫，前右腿残缺。</span>    
                    </div>
                </div>               
            </li> 
            <li>
                <div class="clear">
                    <div class="cat_img fl mr10">
                        <img src="../../img/inroduce_imgs/laoer.jpg" width="200" height="150">
                    </div>
                    <div class="cat_txt fl">
                        <h4 class="mb5" style="color:#0c110a">乌龙茶</h4>
                        <span>奥丁家老二，公猫，江湖人称李荣浩。这就是当年黑圈看上的西瓜头...
                            很有奥丁的风范，至于为什么？年纪轻轻的你搞什么搞？骑妹妹？送你去德国骨科。</span>    
                    </div>
                </div>               
            </li> 
            <li>
                <div class="clear">
                    <div class="cat_img fl mr10">
                        <img src="../../img/inroduce_imgs/laosan.jpg" width="200" height="150">
                    </div>
                    <div class="cat_txt fl">
                        <h4 class="mb5" style="color:#0c110a">柠檬茶</h4>
                        <span>奥丁家老三，母猫，长毛，胆子很小，小狮子颜值超高超可爱。 </span>    
                    </div>
                </div>               
            </li> 
            <li>
                <div class="clear">
                    <div class="cat_img fl mr10">
                        <img src="../../img/inroduce_imgs/laoqi.jpg" width="200" height="150">
                    </div>
                    <div class="cat_txt fl">
                        <h4 class="mb5" style="color:#0c110a">冬瓜茶</h4>
                        <span>奥丁家老七，母猫，长毛，小七七长得最像它妈妈甜甜。</span>    
                    </div>
                </div>               
            </li> 
            <li>
                <div class="clear">
                    <div class="cat_img fl mr10">
                        <img src="../../img/inroduce_imgs/yy.jpg" width="200" height="150">
                    </div>
                    <div class="cat_txt fl">
                        <h4 class="mb5" style="color:#0c110a">歪歪</h4>
                        <span>小歪，母猫，黑圈捡的猫，身体可能有问题，不过现在已经恢复的好很多了。</span>    
                    </div>
                </div>               
            </li>
            <li>
                <div class="clear">
                    <div class="cat_img fl mr10">
                        <img src="../../img/inroduce_imgs/xiaobai.jpg" width="200" height="150">
                    </div>
                    <div class="cat_txt fl">
                        <h4 class="mb5" style="color:#0c110a">棉花糖</h4>
                        <span>新猫，小白，叫棉花糖，白猫，母猫，水友捡的，跟曾经在喵放送带过的狐狸同名，颜值很高，双眼异瞳。</span>    
                    </div>
                </div>               
            </li> 
            <li>
                <div class="clear">
                    <div class="cat_img fl mr10">
                        <img src="../../img/inroduce_imgs/niunan.jpg" width="200" height="150">
                    </div>
                    <div class="cat_txt fl">
                        <h4 class="mb5" style="color:#0c110a">牛腩</h4>
                        <span>黑色牧猫柴犬，母，性格开朗活泼，戏精，喜欢小桀，还有唯一的朋友牛油果。</span>    
                    </div>
                </div>               
            </li> 
            <li>
                <div class="clear">
                    <div class="cat_img fl mr10">
                        <img src="../../img/inroduce_imgs/nangua.jpg" width="200" height="150" class="gray_img">
                    </div>
                    <div class="cat_txt fl">
                        <h4 class="mb5" style="color:#0c110a">南瓜</h4>
                        <span>已上喵星。狗丁幼驯染，狸花猫，外号怂瓜、瓜所长，当年与猴子组成拆家姐妹花。</span>    
                    </div>
                </div>               
            </li>  
            <li>
                <div class="clear">
                    <div class="cat_img fl mr10">
                        <img src="../../img/inroduce_imgs/chaoji.jpg" width="200" height="150" class="gray_img">
                    </div>
                    <div class="cat_txt fl">
                        <h4 class="mb5" style="color:#0c110a">炒鸡</h4>
                        <span>已上喵星。狗丁干儿子，非常可爱，可惜和瓜瓜一样身体不好，来也匆匆去也匆匆。</span>    
                    </div>
                </div>               
            </li>           
        </ul>
    </div>
</div>