<div class="footer_content">
    <div class="m0a pt15 clear" style="width:960px">
        <div class="fl mr40" style="width:96px;height:96px;overflow:hidden;border-radius:5px">
            <img src="img/logo.jpg" alt="喵放送">
        </div> 
        <div class="fl pl40" style="border-left:1px solid #b4b4b4;height:96px;">
            <p><a href="https://www.douyu.com/71771" target="_blank">斗鱼1号直播间</a></p>
            <p class="mt15"><a href="https://www.douyu.com/214657" target="_blank">斗鱼2号直播间</a></p>
            <p class="mt15"><a href="https://shop295210150.taobao.com/" target="_blank">喵放送淘宝店</a></p>
        </div>
        <div class="fl pl40">
            <p><a href="https://tieba.baidu.com/f?kw=%E5%96%B5%E6%94%BE%E9%80%81&ie=utf-8" target="_blank">喵放送贴吧</a></p>            
            <p class="mt15"><a href="http://weibo.com/p/1005055671440149" target="_blank">喵放送微博</a></p>
            <p class="mt15"><a href="http://weibo.com/jidongchengbao" target="_blank">茶喵微博</a></p>
        </div>
        <div class="fr pt35">
            Copyright©2014-2017 All Rights Reserved. MiaoFangSong
        </div>
    </div>     
</div>