<div class="pannel pannel-default">
    <div class="pannel-body">
        <div class="page_sidebar">
            <ul>
                <li>
                    <a ng-click="changeMenu($event)" class="nav_link">
                        <i class="icon iconfont font24 icon-lanmao2 mr5"></i>
                        <span class="font14 lh24" style="display:inline-block;width:120px;vertical-align:text-bottom">视频直播</span>
                        <i class="icon iconfont font18 icon-right menu_arrow"></i>
                    </a>
                    <ul class="menu_list" style="display:none">
                        <li>
                            <a ui-sref="menu1" href="#/menu1/menu1.html">测试1</a>
                        </li>
                        <li>
                            <a href="javascript:;">测试2</a>
                        </li>
                        <li>
                            <a href="javascript:;">测试3</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a ng-click="changeMenu($event)" class="nav_link">
                        <i class="icon iconfont font24 icon-lanmao3 mr5"></i>
                        <span class="font14 lh24" style="display:inline-block;width:120px;vertical-align:text-bottom">微博整理</span>
                        <i class="icon iconfont font18 icon-right menu_arrow"></i>
                    </a>
                    <ul class="menu_list" style="display:none">
                        <li>
                            <a href="javascript:;">测试1</a>
                        </li>
                        <li>
                            <a href="javascript:;">测试2</a>
                        </li>
                        <li>
                            <a href="javascript:;">测试3</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a ng-click="changeMenu($event)" class="nav_link">
                        <i class="icon iconfont font24 icon-cat6 mr5"></i>
                        <span class="font14 lh24" style="display:inline-block;width:120px;vertical-align:text-bottom">视频集锦</span>
                        <i class="icon iconfont font18 icon-right menu_arrow"></i>
                    </a>
                    <ul class="menu_list" style="display:none">
                        <li>
                            <a href="javascript:;">测试1</a>
                        </li>
                        <li>
                            <a href="javascript:;">测试2</a>
                        </li>
                        <li>
                            <a href="javascript:;">测试3</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>