<div class="pannel pannel-default">
    <div class="pannel-body">
        <div class="page_sidebar">
            <ul>
                <li>
                    <a ng-click="changeMenu($event)" class="nav_link">
                        <i class="icon iconfont font24 icon-lanmao2 mr5"></i>
                        <span class="font14 lh24" style="display:inline-block;width:120px;vertical-align:text-bottom">直播&视频</span>
                        <i class="icon iconfont font18 icon-right menu_arrow"></i>
                    </a>
                    <ul class="menu_list" style="display:none">
                        <li>
                            <a ng-click="secMenu($event,'live1',1)" id="1">1号24H猫咪直播</a>
                        </li>
                        <li>
                            <a ng-click="secMenu($event,'live2',2)" id="2">2号随缘直播</a>
                        </li>
                        <li>
                            <a href="javascript:;">视频汇总</a>
                        </li>                       
                    </ul>
                </li>
                <li>
                    <a ng-click="changeMenu($event)" class="nav_link">
                        <i class="icon iconfont font24 icon-lanmao3 mr5"></i>
                        <span class="font14 lh24" style="display:inline-block;width:120px;vertical-align:text-bottom">主播&铲屎官</span>
                        <i class="icon iconfont font18 icon-right menu_arrow"></i>
                    </a>
                    <ul class="menu_list" style="display:none">
                        <li>
                            <li>
                                <a  ng-click="secMenu($event,'weight',3)" id="3">主播体重</a>
                            </li>
                        </li>
                        <li>
                            <a href="javascript:;">测试2</a>
                        </li>
                        <li>
                            <a href="javascript:;">测试3</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a ng-click="changeMenu($event)" class="nav_link">
                        <i class="icon iconfont font24 icon-cat6 mr5"></i>
                        <span class="font14 lh24" style="display:inline-block;width:120px;vertical-align:text-bottom">视频集锦</span>
                        <i class="icon iconfont font18 icon-right menu_arrow"></i>
                    </a>
                    <ul class="menu_list" style="display:none">
                        <li>
                            <a href="javascript:;">测试1</a>
                        </li>
                        <li>
                            <a href="javascript:;">测试2</a>
                        </li>
                        <li>
                            <a href="javascript:;">测试3</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>