<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide" ng-repeat="x in imgs">
            <img ng-src="{{x}}">
        </div>
    </div>
    <!-- 小圆点分页器 -->
    <div class="swiper-pagination" ng-show="swiperPagination"></div>
    <!-- 上一页 -->
    <div class="swiper-button-prev swiper-button-white" ng-show="swiperButton"></div>
    <!-- 下一页 -->
    <div class="swiper-button-next swiper-button-white" ng-show="swiperButton"></div>
    <!-- 滚动条 -->
    <div class="swiper-scrollbar" ng-show="swiperScrollbar"></div>
</div>
